<%- include ('./partials/head') %>

<div class="content-wrapper">
    <%- include('./partials/heading') %>

    <main>
        <!-- Cards collection -->
        <section class="cards">

        <!-- Make a card for each member based on API data -->
        <% data.members.forEach(member => { %>
        <% if (member.website){ %>
            <a href="<%= member.website %>">
        <% } else { %>
            <a href="https://programma.fdnd.nl/">
        <% } %>
                <div class="card">
                    <div class="img-card">
                        <% 
                            const avatarUrl = member.avatar
                            // Filters for avatar URLs
                            if (avatarUrl !== "null" && avatarUrl && !avatarUrl.includes("[") && !avatarUrl.includes("search")) { 
                        %>
                            <img src="<%= member.avatar %>" alt="" class="card-image">
                        <% }else{ %>
                            <img src="./assets/default.png" alt="" class="card-image">
                        <% } %>
                        <div class="subinfo">
                            <p class="name"><%= member.name %></p>
                            <p><%= member.city %></p>
                            <p><%= member.age %></p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="tags">
                            <%# Get all squads for a member %>
                            <% member.squads.forEach(squad => { %>
                                <div class="tag">
                                    <p><%= squad.name %></p>
                                </div>
                            <% }) %>
                            
                            <%# Get all roles for a member %>
                            <% for (let i = 0; i < member.role.length; i++) {
                                const memberRole = member.role[i];
                            %>
                                <div class="tag">
                                    <p><%= memberRole %></p>
                                </div>
                            <% } %>

                            <div class="tag">
                                <div class="stars">
                                    <p>
                                    <%- member.publicRepos %>
                                    </p>
                                    <img src="./assets/star.svg" alt="Star icon" class="star">
                                </div>
                            </div>
                            <%# Get all cohorts for a member %>
                            <% member.squads.forEach(squad => { %>
                                <div class="tag">
                                    <p><%= squad.cohort %></p>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                </a>
            <% }) %>
        </section>
    </main>
</div>

<%- include ('./partials/foot') %>